{% extends "base.html" %}
{% block title %}PDF to Word Converter{% endblock %}
{% block content %}

<div class="container mt-5">
  <h3 class="text-primary mb-4">Convert PDF to Word</h3>
		<a href="{% url 'accounts:profile' %}" class="btn btn-outline-dark">
            <i class="bi bi-house me-2"></i>Dashboard
        </a>

  <form method="post" enctype="multipart/form-data" class="mb-4">
    {% csrf_token %}
    <div class="mb-3">
      <label for="pdf_file" class="form-label">Upload PDF File</label>
      <input class="form-control" type="file" id="pdf_file" name="pdf_file" accept="application/pdf" required>
    </div>
    <button type="submit" class="btn btn-success">Convert</button>
  </form>

  {% if converted_file_url %}
    <div class="alert alert-success">
      Conversion successful! <br>
      <a class="btn btn-primary mt-2" href="{{ converted_file_url }}" download>Download Word File</a>
    </div>
  {% endif %}
</div>

{% endblock %}
