{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h2 class="text-primary mb-4">Edit Project: {{ project.name }}</h2>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      {% include 'shared/includes/form_field.html' with field=field %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a href="{% url 'project:project-dashboard' %}" class="btn btn-secondary">Cancel</a>
  </form>
</div>
{% endblock %}


