<div class="modal fade" id="projectModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="add_project" value="1">
      <input type="hidden" name="project_id" id="id_project_id">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title">Add / Edit Project</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          {% for field in project_form %}
            <div class="mb-3" id="div_{{ field.name }}">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
              {{ field }}
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Save Project</button>
        </div>
      </div>
    </form>
  </div>
</div>
