{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <h2>{{ title }} for {{ project.project_name }}</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit">Save Task</button>
    </form>
    <a class="btn btn-secondary" href="{% url 'project-detail' project.pk %}"><i class="fa-solid fa-arrow-left"></i> Back to Project</a>
</div>
{% endblock %}
